<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<p>==== from json =====</p>
<ul>
  <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
</ul>
<p>==== from php =====</p>

<!-- {{datasObservable$ | async}} -->
<!--
{{datas.id}}
{{datas.titre}}
{{datas.url}} -->

<ul>
  <li *ngFor="let data of datas">{{data.id}}{{data.titre}}</li>
</ul>
